{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["not ie <= 8", "Safari >= 7", "Firefox >= 47", "Chrome >= 52"]
      },
      "test": {
        "presets": ["env", "react"]
      }
    }]
  ]
}
